@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: italic;
  font-weight: bold;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: oblique;
  font-weight: bold;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: italic;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: oblique;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-stretch: condensed;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: bold;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Minion Std Black";
  font-style: normal;
  font-weight: 900;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
@font-face {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
  src: url(styles/XXXXXXXXXXXXXXXX);
}
